/* font references
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}
h1 {
  font-size: 150px;
}
h2 {
  font-size: 100px;
}
h3 {
  font-size: 56px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  letter-spacing: 4.75px;
}
/* h6=subheading1 */
h6 {
  font-family: "Bellefair", serif;
  font-size: 28px;
}
.subheading2 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2.35px;
}

body {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  color: #fff;
}
.container-fluid {
  padding: 1.5% 2%;
}
.blue {
    color: #d0d6f9;
}

/* navbar */
#navbar .container-fluid {
  padding: 1.5% 0 1.5% 2%;
}
.navbar-brand {
  margin: 0 4% 0 1%;
}
.nav-line {
  height: 2px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.nav-link {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.7px;
  color: #fff;
  padding: 30px 0;
  width: max-content;
  margin: 0 30px;
}
.nav-link:hover {
  color: #fff;
  padding: 30px 0 28px 0;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #fff;
}
.nav-link[aria-current="page"] {
  padding: 30px 0 26px 0;
  border-width: 0 0 4px 0;
  border-style: solid;
  border-color: #fff;
}
.navbar-nav {
  padding: 0 120px;
  margin: 0 0 0 auto;
  background-color: #86868d28;
}


.num {
    color: rgb(65, 65, 65);
}